body,
* {
  margin: 0;
  padding: 0;
}
body.no-scroll {
  overflow: hidden;
}
ul {
  margin: 0;
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'segoe';
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: 'segoeb';
  src: url(../fonts/segoeuib.ttf);
}
@font-face {
  font-family: 'comfortaa';
  src: url(../fonts/Confortaa-Regular.ttf);
}
body {
  font-family: 'segoe';
}
textarea,
input,
button {
  cursor: pointer;
}
textarea:focus,
input:focus,
button:focus {
  outline: 0;
}
header {
  padding: 6px 0px;
  background: #396a97;
  color: #fff;
}
header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .container a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  padding: 4px 0px;
}
header .container a:hover {
  text-decoration: underline;
}
header .container a i {
  margin-right: 7px;
}
header .container ul {
  display: inline-block;
  border-right: 1px solid #fff;
  padding-right: 10px;
  margin-right: 10px;
}
header .container ul.social {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  border-left: 1px solid #fff;
  padding-left: 10px;
  margin: 0;
}
header .container ul.social li {
  margin-left: 6px;
}
header .container ul li {
  display: inline-block;
}
header .container ul li.active a {
  text-decoration: underline;
}
header .container ul li a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin-right: 4px;
}
.header {
  padding: 30px 0px 30px 0px;
}
.header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.header .container .l {
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
  font-family: 'comfortaa';
}
.header .container .l img {
  width: 100px;
  float: left;
  margin-right: 20px;
  position: relative;
}
.header .container .l b {
  font-size: 30px;
  font-weight: normal;
  margin-top: 10px;
  display: block;
}
.header .container .r ul {
  display: block;
}
.header .container .r ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'comfortaa';
}
.header .container .r ul li img {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
nav.navbar {
  background: #f8f8f8;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  padding: 0;
}
nav.navbar form {
  position: absolute;
  right: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  z-index: -1;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 46px;
  border: 0px solid #d0d0d0;
  opacity: 0;
  background-color: #fff;
}
nav.navbar form.active {
  opacity: 1;
  border: 1px solid #d0d0d0;
  z-index: 1;
  height: auto;
}
nav.navbar form input {
  border: 0;
}
nav.navbar form input:focus {
  outline: 0;
  box-shadow: unset;
}
nav.navbar .container {
  position: relative;
}
nav.navbar .container button.srch {
  position: absolute;
  right: 0;
  font-size: 24px;
  color: #000;
  border: 0;
  background: unset;
}
nav.navbar .container button.srch.active i:before {
  content: '\f00d';
}
nav.navbar .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
nav.navbar .container ul li {
  position: relative;
}
nav.navbar .container ul li .sub-menu,
nav.navbar .container ul li .dropdown-menu {
  position: absolute;
  top: 57px;
  padding: 0;
  display: none;
  width: auto;
  background-color: #fff;
}
nav.navbar .container ul li .sub-menu:hover,
nav.navbar .container ul li .dropdown-menu:hover {
  display: block;
}
nav.navbar .container ul li .sub-menu a,
nav.navbar .container ul li .dropdown-menu a {
  display: block;
  margin: 0;
  padding: 15px 10px;
}
nav.navbar .container ul li .sub-menu a:hover,
nav.navbar .container ul li .dropdown-menu a:hover {
  background: unset;
}
nav.navbar .container ul li .sub-menu a:hover:before,
nav.navbar .container ul li .dropdown-menu a:hover:before {
  bottom: -1px;
}
nav.navbar .container ul li a {
  display: inline-block;
  font-size: 18px;
  padding: 15px 10px;
  white-space: nowrap;
  position: relative;
}
nav.navbar .container ul li a:hover + .sub-menu {
  display: block;
}
nav.navbar .container ul li a:hover:before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  background: #396a97;
  border: 0 !important;
}
.category {
  margin-bottom: 40px;
}
.category_item {
  margin-bottom: 20px;
}
.category_item-img {
  height: 200px;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.category_item-title {
  display: inline-block;
  font-size: 18px;
  font-family: 'segoeb';
}
.category_item-info {
  font-size: 12px;
  margin: 8px 0px;
}
.category_item-info span {
  display: inline-block;
  margin-right: 15px;
}
.category_item-desc {
  font-size: 14px;
  margin-bottom: 10px;
}
.category_item a.more {
  font-size: 14px;
  text-decoration: underline;
}
.con {
  margin-bottom: 40px;
}
.con_item {
  padding-left: 90px;
  font-size: 18px;
  font-family: 'comfortaa';
  margin-bottom: 35px;
  position: relative;
}
.con_item img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.con_map {
  height: 600px;
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
}
form.feedback {
  display: block;
  width: 100%;
  margin-top: 30px;
}
form.feedback .title {
  font-size: 24px;
  font-family: 'comfortaa';
  margin-bottom: 10px;
}
form.feedback textarea,
form.feedback input {
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
form.feedback textarea[type=submit],
form.feedback input[type=submit] {
  border: 0;
  background: #396a97;
  color: #fff;
  width: 220px;
  float: right;
}
form.feedback textarea {
  height: 150px;
  resize: none;
}
.other h1 {
  margin-bottom: 20px;
}
.other_img {
  height: 184px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10px;
}
.other_title {
  font-size: 18px;
  font-family: 'segoeb';
}
.other_info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #396a97;
  color: #fff;
  padding: 4px 15px;
  font-size: 14px;
}
.parts {
  margin-bottom: 20px;
}
.parts_slider-item {
  text-align: center;
  font-size: 16px;
  font-family: 'comfortaa';
  height: 200px;
  overflow: hidden;
  position: relative;
}
.parts_slider-item:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
}
.parts_slider-item .cap {
  z-index: 1;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  font-size: 18px;
}
.parts_slider-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
ul.pagination {
  text-align: center;
  display: block;
}
ul.pagination li {
  display: inline-block;
}
ul.pagination li a {
  border: 0;
  color: #000;
}
img.full {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.post__content{
  margin-top: 30px;
  line-height: 24px;
}
img.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
img.right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  font-family: 'comfortaa';
  margin-bottom: 40px;
}
.breadcrumb {
  background: unset;
  padding: 0;
  margin-bottom: 20px;
}
.slider .slick-dots {
  position: absolute;
  top: 300px;
  width: 100%;
}
.slider .slider_list .item {
  position: relative;
}
.slider .slider_list .item:before {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #396a97 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #396a97 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #396a97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 300px;
}
.slider .slider_list .item_caption {
  position: absolute;
  width: 80%;
  z-index: 3;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}
.slider .slider_list .item_caption .date {
  position: absolute;
  right: 0;
  bottom: 0;
}
.slider .slider_list .item .img {
  height: 521px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slider .slider_list .item_category {
  position: absolute;
  top: 0;
  left: 0;
  background: #396a97;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  min-width: 142px;
  text-align: center;
  text-transform: uppercase;
}
.slider .slider_list .item .date {
  font-style: italic;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}
.slider .slider_list .item a.title {
  display: block;
  font-size: 24px;
  font-family: 'segoeb';
  line-height: 32px;
  margin-bottom: 5px;
  color: #fff;
}
.slider .slider_list .item .more {
  color: #fff;
}
.social {
  margin: 30px 0px;
  display: flex;
  align-items: center;
}
.social__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  width: 270px;
}
.social__list {
  padding-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__list a {
  color: #000;
  font-weight: bold;
}
.social__list a img {
  margin-right: 10px;
}
a.more {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'segoeb';
}
a.bmore {
  display: block;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'segoeb';
  padding: 25px 0px 25px 105px;
  position: relative;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
a.bmore:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
a.bmore img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20px;
}
.btitle,
.ltitle {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'segoeb';
  margin-bottom: 8px;
}
.btitle {
  margin-bottom: 15px;
  font-size: 24px;
}
.notice {
  background-color: #f8f8f8;
  padding: 15px 20px;
}
.notice a {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
.qa a {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  margin-bottom: 7px;
}
.qa a img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.docs {
  margin-bottom: 10px;
}
.docs_title {
  background: #0e8d7a;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  width: 162px;
  margin-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
}
.docs a {
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #dcdcdc;
}
.docs a:last-child {
  border-bottom: 0;
}
.photo_category,
.video_category {
  position: absolute;
  top: 0;
  left: 0;
  background: #0e8d7a;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  min-width: 142px;
  text-align: center;
  text-transform: uppercase;
}
.photo_list .item .img,
.video_list .item .img {
  height: 341px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.photo_list .item .date,
.video_list .item .date {
  font-style: italic;
  font-size: 14px;
  color: #555555;
  margin-top: 10px;
}
.photo_list .item a.title,
.video_list .item a.title {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'segoeb';
  line-height: 28px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.news__box {
  padding: 10px;
}
.news .category_item-title {
  line-height: 22px;
  min-height: 70px;
}
.news__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.news__item {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.empty {
  height: 30px;
}
.photo_category {
  background-color: #396a97;
}
.photo a.ph {
  display: block;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.photo_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 22px;
  text-align: center;
  background-color: #f8f8f8;
  text-transform: uppercase;
  color: #000;
  font-family: 'segoeb';
}
a.virt {
  background: #396a97;
  color: #fff;
  padding: 35px 0px 35px 100px;
  font-size: 24px;
  display: block;
  position: relative;
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 10px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
a.virt:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
a.virt img {
  position: absolute;
  left: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.quiz {
  border: 1px solid #999999;
  padding: 15px;
  font-size: 16px;
  font-family: 'segoeb';
  background: url(../img/question.png) no-repeat 90% 30px;
  background-size: auto;
}
.quiz_title {
  margin-bottom: 15px;
}
.quiz form input[type=submit] {
  width: 190px;
  margin: 10px auto;
  background: #396a97;
  color: #fff;
  padding: 6px;
  display: block;
  border: 0;
}
.quiz form input[type=radio] {
  display: none;
}
.quiz form input[type=radio]:checked + label:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #396a97;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.quiz form label {
  padding-left: 24px;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.quiz form label:after {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #396a97;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.slick-arrow {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  font-size: 0;
  width: 30px;
  height: 30px;
  background: #f8f8f8;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.slick-arrow:after {
  content: '\f104';
  color: #000;
  font: normal normal normal 18px/1 FontAwesome;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 15px;
  width: 15px;
}
.slick-arrow.slick-next {
  left: unset;
  right: 0;
}
.slick-arrow.slick-next:after {
  content: '\f105';
}
.slick-dots {
  display: block;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #396a97;
  opacity: 0.6;
  border: 0;
  margin: 0px 5px;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
.stat {
  line-height: 22px;
}
.stat .btitle {
  line-height: normal;
}
.stat span.st {
  width: 35px;
  height: 10px;
  display: inline-block;
}
.stat span.st.blue {
  background-color: #396a97;
}
.stat span.st.green {
  background-color: #0e8d7a;
}
.stat span.st.yellow {
  background-color: #ffff00;
}
.map {
  font-size: 18px;
  line-height: 34px;
}
.map_box {
  padding: 30px;
  background: url(../img/bg1.jpg) no-repeat center center / cover;
}
.map path {
  fill: #396a97;
}
.map path:hover {
  fill: #fff;
}
.map_title {
  font-size: 30px;
  font-family: 'segoeb';
  margin-bottom: 10px;
  display: block;
}
.map h3 {
  font-size: 24px;
  font-family: 'segoeb';
}
.links {
  margin: 35px 0px;
}
.links ul {
  margin: 0;
}
.links_item {
  padding: 15px;
}
.links_list {
  margin-left: -15px;
  margin-right: -15px;
}
.links_list a {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #bdbec2;
  color: #000;
  font-size: 14px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  background-color: #fff;
  min-height: 116px;
}
.site .content {
  overflow: hidden;
}
.site .content table td{
  border:1px solid #000;
  padding: 10px;
}
.site .content table {
  width: 100%;
  border-collapse: collapse;
}
.links_list a:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
.links_list a img {
  /* float: left; */
  margin-right: 15px;
  width: 40px;
}
.copyright {
  padding: 20px 0px 10px 0px;
  font-size: 16px;
  line-height: 30px;
  background-color: #396a97;
  color: #fff;
  font-size: 14px;
}
.copyright a {
  display: inline-block;
  margin-right: 10px;
}
.copyright hr {
  background-color: #fff;
}
.fmenu {
  padding: 45px 0px 20px 0px;
  background-color: #396a97;
  color: #fff;
}
.fmenu a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
}
.fmenu a:hover {
  text-decoration: underline;
}
